.social__link-icon {
  text-decoration: none;
  color: #000d6b;
  font-weight: 500;
  font-size: 1.2rem;
}

.contact__form input {
  width: 100%;
  border: 1px solid rgba(0, 12, 107, 0.118);
  border-radius: 5px;
  padding: 10px 12px;
  outline: none;
  color: #000000b4;
}

.contact__form textarea {
  width: 100%;
  border: 1px solid rgba(0, 12, 107, 0.118);
  border-radius: 5px;
  padding: 10px 12px;
  outline: none;
  color: #000000b4;
}

.contact__form input:focus {
  border-color: #719ece;
  box-shadow: 0 0 7px #719ece;
}

.contact__form textarea:focus {
  border-color: #719ece;
  box-shadow: 0 0 7px #719ece;
}

.contact__btn {
  padding: 7px 15px;
  background: #000d6b;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .contact__btn {
    margin-bottom: 20px;
    font-size: 0.8rem;
  }
}
